<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<form action="#" th:action="@{/home/post/create}" method="post" th:object="${post}">
    <label>name </label>
    <input type="text"th:field="*{title}"/><br>
    <label>content </label>
    <input type="text"th:field="*{content}"/><br>
    <label>image</label>
    <input type="text"th:field="*{image}"/><br>
    <label>topic_id</label>
    <select th:field="*{topic}" required>
        <th:block th:each="topic : ${topicList}">
            <option th:text="${topic.name}" th:value="${topic.id}"></option>
        </th:block>
    </select>
    <label>Status</label>
    <input type="text"th:field="*{status}"/><br>
    <input type="submit" value="submit">

</form>

</body>
</html>