<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1> List Student</h1>
<span>
    <a href="/admin/student/create">Create</a>
</span>
<table>
  <thead>
  <tr>
    <th> RollNumber </th>
    <th> FullName </th>
    <th> Email </th>
    <th> Phone </th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${students.empty}">
    <td colspan="2"> No data </td>
  </tr>
  <tr th:each="student : ${students}">
    <td><span th:text="${student.rollNumber}"> rollNumber</span></td>
    <td><span th:text="${student.fullName}"> fullName </span></td>
    <td><span th:text="${student.email}"> email </span></td>
    <td><span th:text="${student.phone}"> phone </span></td>
  </tr>
  </tbody>
</table>
<!--<div th:if="${pageNumberStat.count > 0}" class="pagination"-->
<!--     th:each="pageNumber : ${param}">-->
<!--    <a th:href="@{/list(size=${pageNumberStat.size}, page=${pageNumber})}"-->
<!--       th:text=${pageNumber};-->
<!--       th:class="${pageNumber==pageNumberStat.number + 1} ? active"></a>-->
<!--</div>-->
</body>
</html>