<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/head :: head"></head>
<body>
<header th:replace="/user/fragments/header :: header"></header>
<div class="car-review">
    <div style="padding-left: 23px">
        <h2>Giá xe ô tô</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4" th:each="viewCar : ${listCategoryCar}" style="box-shadow: 0 9px 10px rgb(0 0 0 / 15%);">
                <a th:href="@{/priceDetail}">
                    <div class="form-group position-relative w-100">
                        <img style="width: 95%; height: 172px; margin: 5px; object-fit: cover" th:src="${viewCar.image}">
                        <p class=" text-review">
                            <span>[[${viewCar.name}]]</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="user/fragments/footer :: footer"></footer>
<script th:replace="user/fragments/scripts :: script"></script>
</body>
</html>