<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/head :: head"></head>
<body>
<header th:replace="/user/fragments/header :: header"></header>
<div class="car-review">
    <div style="padding-left: 23px">
        <h2>Giá xe ô tô</h2>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <a th:href="@{/priceDetail}">
                <div class="form-group position-relative w-100">
                    <img style="width: 95%; height: 172px; margin: 5px; object-fit: cover" src="https://cdn.baogiaothong.vn/upload/images/2022-2/album_img/2022-05-06/img-bgt-2021-top-10-xe-danh-gia-cao-1-1651852779-width1004height565.jpg">
                    <p class=" text-review">
                        <span>Bảng giá xe</span>
                    </p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="form-group position-relative w-100">
                <a th:href="@{/priceDetail}">
                    <img style="width: 95%; height: 172px; margin: 5px; object-fit: cover" src="https://cdn.baogiaothong.vn/upload/images/2022-2/album_img/2022-05-06/img-bgt-2021-top-10-xe-danh-gia-cao-1-1651852779-width1004height565.jpg">
                    <p class=" text-review"><span>Bảng giá xe</span></p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="form-group position-relative w-100">
                <a th:href="@{/priceDetail}">
                    <img style="width: 95%; height: 172px; margin: 5px; object-fit: cover" src="https://cdn.baogiaothong.vn/upload/images/2022-2/album_img/2022-05-06/img-bgt-2021-top-10-xe-danh-gia-cao-1-1651852779-width1004height565.jpg">
                    <p class=" text-review"><span>Bảng giá xe</span></p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="form-group position-relative w-100">
                <a th:href="@{/priceDetail}">
                    <img style="width: 95%; height: 172px; margin: 5px; object-fit: cover" src="https://cdn.baogiaothong.vn/upload/images/2022-2/album_img/2022-05-06/img-bgt-2021-top-10-xe-danh-gia-cao-1-1651852779-width1004height565.jpg">
                    <p class=" text-review"><span>Bảng giá xe</span></p>
                </a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="user/fragments/footer :: footer"></footer>
<script th:replace="user/fragments/scripts :: script"></script>
</body>
</html>