<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/head :: head"></head>
<body>
<header th:replace="/user/fragments/header :: header"></header>
<div class="car-review">
    <div style="padding-left: 23px">
        <h2>Giá xe ô tô</h2>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <!--            <div class="world-catagory-slider owl-carousel wow fadeInUpBig  owl-stage-outer"-->
            <!--                 data-wow-delay="0.1s">-->
            <!-- ========== Single Blog Post ========== -->
            <div class="col-12 col-md-6 col-lg-4" th:each="viewCar : ${listCategoryCar}" >

                <div class="single-blog-post post-style-3 mt-30 wow fadeInUpBig " data-wow-delay="0.2s">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img th:src="${viewCar.image}" alt="" style="height: 240px; object-fit: cover;">
                        <!-- Post Content -->
                        <div class="post-content d-flex align-items-center justify-content-between">
                            <!-- Catagory -->
                            <div class="post-tag"></div>
                            <!-- Headline -->
                            <a th:href="@{'/priceDetail/' + ${viewCar.id}}" class="headline">
                                <h5>[[${viewCar.name}]]</h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29,
                                    2017 at 9:48 am</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="user/fragments/footer :: footer"></footer>
<script th:replace="user/fragments/scripts :: script"></script>
</body>
</html>