<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/head :: head"></head>
<body>
<header th:replace="/user/fragments/header :: header"></header>

<!-- ********** Hero Area Start ********** -->
<div class="hero-area height-400 bg-img background-overlay"
     th:style="'background-image:url(' + @{/user/img/img-contact1.jpg} + ');  background-size: cover;'">
</div>
<section class="contact-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Contact Form Area -->
            <div class="col-12 col-md-10 col-lg-8">
                <div class="contact-form">
                    <h5>Liên Hệ </h5>
                    <!-- Contact Form -->
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="group">
                                    <input type="text" name="name" id="name" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Vui lòng nhập tên </label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="group">
                                    <input type="email" name="email" id="" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Vui lòng nhập Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="group">
                                    <textarea name="message" id="message" required></textarea>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Nhập nội dung tin nhắn </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn world-btn">Gửi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="user/fragments/footer :: footer"></footer>
<!-- ***** Footer Area Start ***** -->
<script th:replace="user/fragments/scripts :: script"></script>
</body>
</html>