<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/admin/dist/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/summernote/summernote-bs4.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/longpost.css}">

</head>
<body>
<div class="container">
    <form action="#" th:action="@{/post/save}" method="post" th:object="${post}">


        <div class="form-group">
            <label for="exampleInputEmail1">Tiêu đề</label>
            <input th:field="*{title}" type="text" class="form-control" id="exampleInputEmail1" placeholder="Nhập tiêu đề bài viết...." >
        </div>
        <div class="form-group">
            <label>Hình ảnh</label>
            <input th:field="*{image}" type="text" class="form-control"placeholder="" >
        </div>

        <div class="form-group">
            <label>Nội dung</label>
            <input  th:field="*{content}" type="text" class="form-control"placeholder="" >
        </div>

        <label for="exampleInputEmail1">Danh mục</label>
        <select th:field="*{topic}" required class="form-control">
            <th:block th:each="cat : ${listTopic}">
                <option th:text="${cat.name}" th:value="${cat.id}"></option>
            </th:block>
        </select>
        <button type="submit" class="btn btn-primary mt-3 btn-lg btn-block">Đăng bài</button>
    </form>
</div>

<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{admin/plugins/summernote/summernote-bs4.min.js}"></script>
<script>
    $(function () {
        // Summernote
        $('#summernote').summernote()

        // CodeMirror
        CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
            mode: "htmlmixed",
            theme: "monokai"
        });
    })
</script>
</body>
</html>