<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/head :: head"></head>
<body>
<header th:replace="/user/fragments/header :: header"></header>
<section class="content profile-page" id="top">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card profile-header">
                    <div class="body text-center">
                        <div class="profile-image"><img th:src="${avatar}" alt="" width="200px" height="200px">

                        </div>
                        <div>  <h4 class=""> [[${fullname}]] - Trang cá nhân </h4>
<!--                            <span class="job_post">Neurologist</span>-->
<!--                            <p>795 Folsom Ave, Suite 600<br> San Francisco, CADGE 94107</p>-->
                            <ul class="list-unstyled">
                                <li>
                                    <p><strong>EMAIL:</strong> [[${email}]]</p>
                                </li>
                                <li>
                                    <p><strong>PHONE:</strong> [[${phone}]]</p>
                                </li>
                                <li>
                                    <p><strong>ADDRESS:</strong> [[${address}]]</p>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-round">Follow</button>
                            <button class="btn btn-primary btn-round btn-simple">Message</button>
                        </div>
                        <!--                        <p class="social-icon m-t-5 m-b-0">-->
                        <!--                            <a title="Twitter" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>-->
                        <!--                            <a title="Facebook" href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a>-->
                        <!--                            <a title="Google-plus" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>-->
                        <!--                            <a title="Behance" href="javascript:void(0);"><i class="zmdi zmdi-behance"></i></a>-->
                        <!--                            <a title="Instagram" href="javascript:void(0);"><i class="zmdi zmdi-instagram "></i></a>-->
                        <!--                        </p>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div>
                    <ul class=" mb-20" id="myTab4" role="tablist"
                        style="padding: 10px 0;font-size: 18px;color: #000000;margin-bottom: 25px;margin-right: auto;border-bottom: 2px solid #f1f1f1;font-weight: 700;">
                        <li class="title">Bài viết</li>
                    </ul>
                </div>
                <!-- POST -->
                <div class="post wow fadeInUpBig" data-wow-delay="0.2s" style="height: 100px;">
                    <div class="wrap-ut pull-left">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                <img style="width: 70px; height: 70px;border-radius: 50%;object-fit: cover;" src="" alt="">
                                <div class="status green">&nbsp;</div>
                            </div>
                        </div>
                        <div class="posttext pull-left">
                            <a href="02_topic.html">[[${post.user_id.fullname}]]</a>
                            <div class="text-shortened">[[${post.content}]]</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="postinfo pull-left">
                        <!--                                <div class="comments">-->
                        <!--                                    <div class="commentbg">-->
                        <!--                                        560-->
                        <!--                                        <div class="mark"></div>-->
                        <!--                                    </div>-->

                        <!--                                </div>-->
                        <div class="views"><i class="fa fa-eye"></i> 1,568</div>
                        <div class="time"><i class="fa fa-clock-o"></i> 24 min</div>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- POST -->
                <div class="row">
                    <div class="col-12">
                        <div class="load-more-btn mt-50 text-center">
                            <a href="#" class="btn world-btn">Load More</a>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<footer th:replace="user/fragments/footer :: footer"></footer>
<script th:replace="user/fragments/scripts :: script"></script>
</body>
</html>
