<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/user/fragments/head :: head">
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/boottrap.css}">
    <link rel="stylesheet" th:href="@{/user/css/register.css}">
</head>
<body>
<header th:replace="/user/fragments/header :: header"></header>
<div class="register">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div th:if="${session.message}"
                     th:classapend="${session.message}" class="alert alert-success" role="alert">
                    <p th:text="${session.message}"></p>
                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                </div>
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Đăng Ký</h5>
                        <form th:action="@{/register}" th:object="${user}" method="post">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="fullname" id="floatingFullName" placeholder="Enter FullName">
                                <label for="floatingFullName" style="bottom: 0px; top: 60%;">Full Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" name="userName" placeholder="Enter User Name" id="floatingUserName">
                                <label for="floatingPhone" >User Name</label>
                            </div>
                            <div class="form-floating mb-3 d-flex">
                                <label style="position: relative; padding: 0; margin-right: 20px">Gender</label>
                                <div class="">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" value="male">Make
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" value="female">Female
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" name="phone" placeholder="Enter Phone" id="floatingPhone">
                                <label for="floatingPhone" >Phone</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" name="avatar" placeholder="Enter Avatar" id="floatingAvatar">
                                <label for="floatingAvatar" >Avatar</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" type="email" name="email" placeholder="Enter Email"
                                       id="exampleInputEmail1">
                                <label for="exampleInputEmail1" >Email</label>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone else.</small>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" name="dob" placeholder="Enter Birthday" id="floatingBirthday">
                                <label for="floatingBirthday" >Birthday</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                <label for="exampleInputPassword1" >Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="address" placeholder="Enter Address" id="floatingAddress">
                                <label for="floatingAddress">Address</label>
                            </div>
                            <div class="d-grid">
                                <button name="sign-in" class="btn btn-primary btn-login text-uppercase fw-bold"
                                        type="submit">
                                    Đăng Ký
                                </button>
                            </div>
                            <hr class="my-4">
                            <div class="d-grid mb-2">
                                <div class="text">
                                    Bạn đã có tài khoản? <a th:href="@{/login}">Đăng nhập</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
