<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!--../../static/dist/img/AdminLTELogo.png-->
    <!-- Preloader -->
    <!--    <div class="preloader flex-column justify-content-center align-items-center">-->
    <!--        <img class="animation__shake" th:src="@{/admin/dist/img/AdminLTELogo.png"-->
    <!--             alt="AdminLTELogo" height="60" width="60">-->
    <!--    </div>-->

    <nav th:replace="/admin/fragments/header :: header"></nav>
    <div th:replace="/admin/fragments/navbar :: navbar"></div>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Công ty</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thêm mới sản phẩm</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="#" th:action="@{/admin/product/save}" method="post" th:object="${product}">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Tên sản phẩm</label>
                                <input type="text" th:field="*{name}" name="name" class="form-control" placeholder="Tên sản phẩm">
                                <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                            </div>
                            <div class="form-group">
                                <label>Tên sản phẩm</label>
                                <input type="text" th:field="*{image}" name="image" class="form-control" placeholder="Thêm hình ảnh">
                                <p th:if="${#fields.hasErrors('image')}" class="text-danger" th:errors="*{name}"></p>
                            </div>
                            <div class="form-group">
                                <label> Giá bán lẻ</label>
                                <input type="text" th:field="*{retailprice}" name="retailprice" class="form-control" placeholder="Giá bán lẻ">
                                <p th:if="${#fields.hasErrors('retailprice')}" class="text-danger" th:errors="*{retailprice}"></p>
                            </div>
                                <div class="form-group">
                                    <label>Xuất xứ</label>
                                    <input type="text" th:field="*{origin}" name="origin" class="form-control" placeholder="Xuất xứ">
                                    <p th:if="${#fields.hasErrors('origin')}" class="text-danger" th:errors="*{origin}"></p>
                                </div>
                                <div class="form-group">
                                    <label>Loại xe</label>
                                    <input type="text" th:field="*{rangeofvehicle}" name="rangeofvehicle" class="form-control" placeholder="Loại xe">
                                    <p th:if="${#fields.hasErrors('rangeofvehicle')}" class="text-danger" th:errors="*{rangeofvehicle}"></p>
                                </div>
                                <div class="form-group">
                                    <label>Số chỗ</label>
                                    <input type="text" th:field="*{numberofseats}" name="numberofseats" class="form-control" placeholder="Số chỗ">
                                    <p th:if="${#fields.hasErrors('numberofseats')}" class="text-danger" th:errors="*{numberofseats}"></p>
                                </div>
                                <div class="form-group">
                                    <label>Hộp số</label>
                                    <input type="text" th:field="*{gear}" name="gear" class="form-control" placeholder="Hộp số">
                                    <p th:if="${#fields.hasErrors('gear')}" class="text-danger" th:errors="*{gear}"></p>
                                </div>

                                <div class="form-group">
                                    <label class="form-group">Dealer </label>
                                    <select class="form-control" th:field="*{dealer}">
                                        <th:block th:each="product : ${listDealer}">
                                            <option th:text="${product.name}" th:value="${product.id}"></option>
                                        </th:block>
                                    </select>

                                </div>
<!--                                <div class="form-group">-->
<!--                                    <label class="form-group">Trạng thái</label>-->
<!--                                    <select class="form-control" name="productStatus">-->
<!--                                        <option th:each="productStatus : ${T(com.example.carforum.entity.Product).values()}"-->
<!--                                                th:value="${productStatus}" th:text="${productStatus}"></option>-->
<!--                                    </select>-->
<!--                                </div>-->
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                    </form>

                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer th:replace="/admin/fragments/footer :: footer"></footer>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
    </aside>
</div>
<script th:replace="/admin/fragments/scripts :: scripts"></script>

</body>
</html>
