<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <title>Car Review</title>
</head>
<body>
<div th:switch="${priceCar}" >
  <h2 th:case="null">No price car yet!</h2>
  <div th:case="*">
    <h2>Car priceCar</h2>
    <table>
      <thead>
      <tr>
        <th>name</th>
        <th>listed_price</th>
        <th>categoryCar</th>
        <th>rolling_price</th>
        <th>action</th>
      </tr>
      </thead>
      <tbody meth>
      <tr th:each="priceCar : ${priceCar}">
        <td th:text="${priceCar.name}"></td>
        <td th:text="${priceCar.listed_price}"></td>
        <td th:text="${priceCar.categoryCar.name}"></td>
        <td th:text="${priceCar.rolling_price}"></td>
        <td><a th:href="@{/editprice/{id}(id=${priceCar.id})}">Edit</a></td>
        <td><a th:href="@{/deleteprice/{id}(id=${priceCar.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>