<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/updateprice/{id}(id=${priceCar.id})}"
      th:object="${priceCar}"
      method="post">
  <label>name </label>
  <input type="text" th:field="*{name}"/><br>
  <label>listed_price </label>
  <input type="text" th:field="*{listed_price}"/><br>
  <label>categoryCar </label>
  <select th:field="*{categoryCar}" required>
    <th:block th:each="cat : ${listCategoryCar}">
      <option th:text="${cat.name}" th:value="${cat.id}"></option>
    </th:block>
  </select>
  <label>rolling_price </label>
  <input type="text" th:field="*{rolling_price}"/><br>
  <input type="submit" value="Update priceCar">
</form>
</body>
</html>