<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/update/{id}(id=${carReview.id})}"
      th:object="${carReview}"
      method="put">
  <input type="text" th:field="*{title}"/><br>
  <label>content </label>
  <input type="text" th:field="*{content}"/><br>
  <label>categoryCar </label>
  <select th:field="*{categoryCar}" required>
    <option value="">Nothing select</option>
    <option th:each="category : ${listCategoryCar}" th:value="${category.id}" th:text="${category.name}"/>
<!--    <th:block th:each="cat : ${listCategoryCar}">-->
<!--      <option th:each="${cat.name}" th:value="${cat.id}"></option>-->
<!--    </th:block>-->
  </select>
  <label>type </label>
  <input type="text" th:field="*{type}"/><br>
  <label>image </label>
  <input type="text" th:field="*{image}"/><br>
  <label>viewcount </label>
  <input type="text" th:field="*{viewcount}"/><br>
  <input type="submit" value="Update carReview">
</form>
</body>
</html>