<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" th:href="@{/admin/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/admin/https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/jqvmap/jqvmap.min.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/daterangepicker/daterangepicker.css}">
    <link rel="stylesheet" th:href="@{/admin/plugins/summernote/summernote-bs4.min.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/adminlte.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/alt/adminlte.light.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/alt/adminlte.components.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/alt/adminlte.core.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/alt/adminlte.extra-components.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/alt/adminlte.pages.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/alt/adminlte.plugins.css}">
</head>