<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="navbar">
    <!-- Brand Logo -->
    <a th:href="@{/admin/home3}" class="brand-link">
        <img th:src="@{/admin/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img th:src="@{/admin/dist/img/user2-160x160.jpg}" class="img-circle elevation-2"
                     alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search"
                       aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">


                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Chủ đề
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/admin/topics}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quản lý chủ đề</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/admin/topic/create}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm chủ đề</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Bài viết
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/admin/posts}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quản lý bài viết</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/admin/post/create}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm bài viết</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Danh mục xe
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/admin/categoryCar}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quản lý danh mục xe</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/admin/categoryCar/create}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm danh mục xe</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Đánh giá xe
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/admin/carreview/list}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quản lý bài đánh giá xe</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{admin/carreview/create}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm bài đánh giá</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Giá xe
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/admin/priceCar/list}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quản lý giá xe</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/admin/priceCar/create}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm giá xe</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Forms
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/admin/pages/forms/general.html}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>General Elements</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/admin/pages/forms/advanced.html}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Advanced Elements</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/admin/pages/forms/editors.html}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Editors</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/admin/pages/forms/validation.html}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Validation</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Tables
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/admin/pages/tables/simple.html}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Simple Tables</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/admin/pages/tables/data.html}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>DataTables</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/admin/pages/tables/jsgrid.html}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>jsGrid</p>
                            </a>
                        </li>
                    </ul>
                </li>
<!--                <li class="nav-header">EXAMPLES</li>-->
<!--                <li class="nav-item">-->
<!--                    <a th:href="@{/admin/pages/calendar.html}" class="nav-link">-->
<!--                        <i class="nav-icon far fa-calendar-alt"></i>-->
<!--                        <p>-->
<!--                            Calendar-->
<!--                            <span class="badge badge-info right">2</span>-->
<!--                        </p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a th:href="@{/admin/pages/gallery.html}" class="nav-link">-->
<!--                        <i class="nav-icon far fa-image"></i>-->
<!--                        <p>-->
<!--                            Gallery-->
<!--                        </p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a th:href="@{/admin/pages/kanban.html}" class="nav-link">-->
<!--                        <i class="nav-icon fas fa-columns"></i>-->
<!--                        <p>-->
<!--                            Kanban Board-->
<!--                        </p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="nav-icon far fa-envelope"></i>-->
<!--                        <p>-->
<!--                            Mailbox-->
<!--                            <i class="fas fa-angle-left right"></i>-->
<!--                        </p>-->
<!--                    </a>-->
<!--                    <ul class="nav nav-treeview">-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/mailbox/mailbox.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Inbox</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/mailbox/compose.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Compose</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/mailbox/read-mail.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Read</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="nav-icon fas fa-book"></i>-->
<!--                        <p>-->
<!--                            Pages-->
<!--                            <i class="fas fa-angle-left right"></i>-->
<!--                        </p>-->
<!--                    </a>-->
<!--                    <ul class="nav nav-treeview">-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/invoice.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Invoice</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/profile.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Profile</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/e-commerce.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>E-commerce</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/projects.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Projects</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/project-add.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Project Add</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/project-edit.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Project Edit</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/project-detail.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Project Detail</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/contacts.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Contacts</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/faq.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>FAQ</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/contact-us.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Contact us</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="nav-icon far fa-plus-square"></i>-->
<!--                        <p>-->
<!--                            Extras-->
<!--                            <i class="fas fa-angle-left right"></i>-->
<!--                        </p>-->
<!--                    </a>-->
<!--                    <ul class="nav nav-treeview">-->
<!--                        <li class="nav-item">-->
<!--                            <a href="#" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>-->
<!--                                    Login & Register v1-->
<!--                                    <i class="fas fa-angle-left right"></i>-->
<!--                                </p>-->
<!--                            </a>-->
<!--                            <ul class="nav nav-treeview">-->
<!--                                <li class="nav-item">-->
<!--                                    <a th:href="@{/admin/pages/examples/login.html}" class="nav-link">-->
<!--                                        <i class="far fa-circle nav-icon"></i>-->
<!--                                        <p>Login v1</p>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a th:href="@{/admin/pages/examples/register.html}" class="nav-link">-->
<!--                                        <i class="far fa-circle nav-icon"></i>-->
<!--                                        <p>Register v1</p>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a th:href="@{/admin/pages/examples/forgot-password.html}"-->
<!--                                       class="nav-link">-->
<!--                                        <i class="far fa-circle nav-icon"></i>-->
<!--                                        <p>Forgot Password v1</p>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a th:href="@{/admin/pages/examples/recover-password.html}"-->
<!--                                       class="nav-link">-->
<!--                                        <i class="far fa-circle nav-icon"></i>-->
<!--                                        <p>Recover Password v1</p>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a href="#" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>-->
<!--                                    Login & Register v2-->
<!--                                    <i class="fas fa-angle-left right"></i>-->
<!--                                </p>-->
<!--                            </a>-->
<!--                            <ul class="nav nav-treeview">-->
<!--                                <li class="nav-item">-->
<!--                                    <a th:href="@{/admin/pages/examples/login-v2.html}" class="nav-link">-->
<!--                                        <i class="far fa-circle nav-icon"></i>-->
<!--                                        <p>Login v2</p>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a th:href="@{/admin/pages/examples/register-v2.html}" class="nav-link">-->
<!--                                        <i class="far fa-circle nav-icon"></i>-->
<!--                                        <p>Register v2</p>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a th:href="@{/admin/pages/examples/forgot-password-v2.html}"-->
<!--                                       class="nav-link">-->
<!--                                        <i class="far fa-circle nav-icon"></i>-->
<!--                                        <p>Forgot Password v2</p>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a th:href="@{/admin/pages/examples/recover-password-v2.html}"-->
<!--                                       class="nav-link">-->
<!--                                        <i class="far fa-circle nav-icon"></i>-->
<!--                                        <p>Recover Password v2</p>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/lockscreen.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Lockscreen</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/legacy-user-menu.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Legacy User Menu</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/language-menu.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Language Menu</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/404.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Error 404</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/500.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Error 500</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/pace.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Pace</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/examples/blank.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Blank Page</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/starter.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Starter Page</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="nav-icon fas fa-search"></i>-->
<!--                        <p>-->
<!--                            Search-->
<!--                            <i class="fas fa-angle-left right"></i>-->
<!--                        </p>-->
<!--                    </a>-->
<!--                    <ul class="nav nav-treeview">-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/search/simple.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Simple Search</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a th:href="@{/admin/pages/search/enhanced.html}" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Enhanced</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-header">MISCELLANEOUS</li>-->
<!--                <li class="nav-item">-->
<!--                    <a th:href="@{/iframe.html}" class="nav-link">-->
<!--                        <i class="nav-icon fas fa-ellipsis-h"></i>-->
<!--                        <p>Tabbed IFrame Plugin</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a th:href="@{/https://adminlte.io/docs/3.1/}" class="nav-link">-->
<!--                        <i class="nav-icon fas fa-file"></i>-->
<!--                        <p>Documentation</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-header">MULTI LEVEL EXAMPLE</li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="fas fa-circle nav-icon"></i>-->
<!--                        <p>Level 1</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="nav-icon fas fa-circle"></i>-->
<!--                        <p>-->
<!--                            Level 1-->
<!--                            <i class="right fas fa-angle-left"></i>-->
<!--                        </p>-->
<!--                    </a>-->
<!--                    <ul class="nav nav-treeview">-->
<!--                        <li class="nav-item">-->
<!--                            <a href="#" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Level 2</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a href="#" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>-->
<!--                                    Level 2-->
<!--                                    <i class="right fas fa-angle-left"></i>-->
<!--                                </p>-->
<!--                            </a>-->
<!--                            <ul class="nav nav-treeview">-->
<!--                                <li class="nav-item">-->
<!--                                    <a href="#" class="nav-link">-->
<!--                                        <i class="far fa-dot-circle nav-icon"></i>-->
<!--                                        <p>Level 3</p>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a href="#" class="nav-link">-->
<!--                                        <i class="far fa-dot-circle nav-icon"></i>-->
<!--                                        <p>Level 3</p>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a href="#" class="nav-link">-->
<!--                                        <i class="far fa-dot-circle nav-icon"></i>-->
<!--                                        <p>Level 3</p>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a href="#" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Level 2</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="fas fa-circle nav-icon"></i>-->
<!--                        <p>Level 1</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-header">LABELS</li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="nav-icon far fa-circle text-danger"></i>-->
<!--                        <p class="text">Important</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="nav-icon far fa-circle text-warning"></i>-->
<!--                        <p>Warning</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="nav-icon far fa-circle text-info"></i>-->
<!--                        <p>Informational</p>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
