<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="script">
    <script th:replace="@{/user/js/jquery/jquery-2.2.4.min.js}"></script>
    <script th:replace="@{/user/js/popper.min.js}"></script>
    <script th:replace="@{/user/js/bootstrap.min.js}"></script>
    <script th:replace="@{/user/js/plugins.js}"></script>
    <script th:replace="@{/user/js/active.js}"></script>
    <script>
        $(document).ready(function(){
            $("#myBtn").click(function(){
                $("#myModal").modal();
            });
        });
    </script>
</div>